body{
  background-color: rgb(188, 230, 216);
  align-items: center;
  display: flex;
}
.card{
  border-radius: 5px;
  align-content: center;
  background-color: rgb(237, 237, 201);
  align-items: center;
  padding-left: 50px;
  
}